body{
	background-color:orange;
	font-family: Arial;
	text-align: center;
	font-size: 30px;
	font-weight:normal;
	text-transform: uppercase;
}
#slogan{
	font-style: italic;
	font-size: 100px;
	font-family:Arial;
}
title{
	font-size: 250px;
	font-family: Arial;
}
hr{
	width: 500px;
}