body{
	background-color:orange;
	font-family: Arial;
	text-align: center;
	font-size: 30px;
}
#slogan{
	font-style: italic;
	font-size: 100px;
}
title{
	font-size: 150px;
	font-family: Arial;
}
hr{
	width: 200px;
}